.row.top-buffer,
.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.messages {
  margin-top: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .width-30 {
    width: 30%;
  }
}
